{% extends "admin/cms/base_form.html" %}{% load i18n %}
{% block title %}
    {% if object %}
        {% trans "Edit Page" %}
    {% else %}
        {% trans "Add a Page" %}
    {% endif %}
{% endblock title %}

{% block toolbar %}
    <span class="toolbar__breadcrumbs">
        <a href="{% url 'cms-admin:page-list' %}">{% trans "Pages" %}</a>
        &nbsp;<span class="fa fa-angle-right"></span>&nbsp;
        {% if object %}
            {% trans "Edit Page" %}
        {% else %}
            {% trans "Add a Page" %}
        {% endif %}
    </span>
{% endblock toolbar %}

{% block page_content %}
<form action="" method="post" class="form form--action-fixed-bottom">
    {% csrf_token %}
    {% if form.non_field_errors %}
        <div class="alert alert--error">
        {% for error in form.non_field_errors %}
            {{error}}<br>
        {% endfor %}
        </div>
    {% endif %}
    <fieldset>
        <legend>{% trans "Title" %}</legend>
        {% with form.display_title as field %}
            {% include "admin/generic/form/form_group.html" %}
        {% endwith %}
        {% with form.home as field %}
            {% include "admin/generic/form/form_group.html" %}
        {% endwith %}
    </fieldset>
    <fieldset>
        <legend>{% trans "Template" %}</legend>
        {% with form.template as field %}
            {% include "admin/generic/form/form_group.html" %}
        {% endwith %}
    </fieldset>
    <fieldset>
        <legend>{% trans "Hierarchy" %}</legend>
        {% with form.parent as field %}
            {% include "admin/generic/form/form_group.html" %}
        {% endwith %}
    </fieldset>
    <fieldset>
        <legend>{% trans "Navigation Menu" %}</legend>
        <div class="form__row">
        {% with form.hide_from_nav as field %}
            {% include "admin/generic/form/form_group.html" %}
        {% endwith %}
        </div>
    </fieldset>
    {% if object %}
    <fieldset>
        <legend>{% trans "Dataset" %}</legend>
        <div class="grid">
            <div class="grid__span-2">
                <span class="form__label--inline">
                    {% trans "Select dataset" %}
                </span>
            </div>
            <div class="grid__span-3">
                {% with form.dataset as field %}
                    {% include "admin/generic/form/form_group.html" %}
                {% endwith %}
                <p><a href="{% url 'cms-admin:pagedataset-add' %}">+ {% trans "Add a new dataset" %}</a></p>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>{% trans "Redirect" %}</legend>
        <div class="grid">
            <div class="grid__span-2">
                <span class="form__label--inline">
                    {% trans "Redirect to page" %}
                </span>
            </div>
            <div class="grid__span-3">
                {% with form.redirect_to as field %}
                    {% include "admin/generic/form/form_group.html" %}
                {% endwith %}
            </div>
        </div>
        <div class="grid">
            <div class="grid__span-2">
                <span class="form__label--inline">
                    {% trans "Redirect to URL" %}
                </span>
            </div>
            <div class="grid__span-6">
                {% with form.redirect_to_url as field %}
                    {% include "admin/generic/form/form_group.html" %}
                {% endwith %}
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>{% trans "Page identifier" %}</legend>
        <div class="grid">
            <div class="grid__span-2">
                <span class="form__label--inline">
                    {% trans "Unique page identifier" %}
                </span>
            </div>
            <div class="grid__span-3">
                {% with form.slug as field %}
                    {% include "admin/generic/form/form_group.html" %}
                {% endwith %}
            </div>
        </div>
    </fieldset>
    {% endif %}
    <div class="form__actions">
        <div class="form__actions-inner">
            <button type="submit" class="btn btn--primary">
                {% trans "Save" %}
            </button>
            {% if page %}
                <a href="{% url 'cms-admin:page-detail' page.id %}" class="btn btn--cancel btn--transparent pull-right">
                    {% trans "Cancel" %}
                </a>
            {% else %}
                <a href="{% url 'cms-admin:page-list' %}" class="btn btn--cancel btn--transparent pull-right">
                    {% trans "Cancel" %}
                </a>
            {% endif %}
        </div>
    </div>
</form>
{% endblock %}
