{% load staticfiles i18n cms_tags %}{% spaceless %}<!doctype html>
<html lang="en">
    <head>
        <title>{% block title %}No title set{% endblock %} | {{SITE_NAME}}</title>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        {% block meta_data %}{% endblock meta_data %}
        {% include "cms/partials/favicon.html" %}
        <link rel="stylesheet" href="{% static "css/frontend.min.css" %}">
        {% include "cms/partials/contenttools/head.html" %}
        {% block extra_head %}{% endblock extra_head %}
    </head>
    <body class="{% if request.is_preview %}preview{% endif %}">
        {% block header %}
            {% include "cms/partials/header.html" %}
        {% endblock header %}
        {% block main %}{% endblock main %}
        {% block footer %}
            {% include "cms/partials/footer.html" %}
        {% endblock footer %}
        {% block footer_scripts %}
        <script type="text/javascript" src="{% static "js/menu.js" %}"></script>
        {% endblock footer_scripts %}
        {% include "cms/partials/contenttools/foot.html" %}
        {% include "cms/partials/ga.html" %}
    </body>
</html>{% endspaceless %}
