{% extends "admin/page.html" %}{% load i18n %}
{% block content %}
<div class="modal modal--open">
    <div class="modal__wrapper">
        <div class="modal__content modal__content--small">
            <div class="modal__header">
                <h3>{{SITE_NAME}}</h3>
            </div>
            <div class="modal__body">
                <h4>{% trans "Congratulations!" %}</h4>
                <p>{% trans "You have successfully setup the CMS but there isn't any published pages yet to display." %}</p>
            </div>
            <div class="modal__footer">
                <a href="{% url 'cms-admin:page-add' %}" class="btn btn--create">
                    {% trans "Add the first page" %}
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
