{% load mptt_tags cms_tags %}
{% get_published_pages as pages %}
<menu class="menu">
    <header class="menu__item menu__item--open menu__item--open-right menu-item">
        <a href="#" class="menu-item__link">Menu</a>
    </header>
    <ul class="menu__container menu__container--mobile-right">
        <li class="menu__item menu__item--close menu-item">
            <a href="#" class="menu-item__link">Close</a>
        </li>
        {% recursetree pages %}
            {% if not node.get_published.hide_from_nav and node.get_published.translated %}
            <li class="menu__item menu-item">
                <a href="{{node.get_absolute_url}}"
                    class="menu-item__link{% if request.path == node.get_absolute_url %} menu-item__link--active{% endif %}"
                    {% if not node.get_published.target == '_self' %}
                    target="{{node.get_published.target}}"
                    {% endif %}>
                    {{node.get_published.translated.title}}
                </a>
                {% if not node.is_leaf_node %}
                    <ul class="menu__sub-nav">
                        {{ children }}
                    </ul>
                {% endif %}
            {% endif %}
        {% endrecursetree %}
    </ul>
</menu>
