{% extends "admin/account/page.html" %}{% load i18n staticfiles %}
{% block title %}
    {% trans "Pages" %}
{% endblock title %}

{% block toolbar %}
    <span class="toolbar__title">{% trans "Pages" %}</span>
{% endblock toolbar %}

{% block content %}
<div class="grid grid--collapse">
    <div class="grid__span-12">
        <div class="content__inner">
            {% if object_list %}
            <table class="table table--clickable">
                <tr class="table-row">
                    <th class="table-head-cell">&nbsp;</th>
                    <th class="table-head-cell">{% trans "Page" %}</th>
                    <th class="table-head-cell">{% trans "URL" %}</th>
                    <th class="table-head-cell">{% trans "Menu" %}</th>
                    <th class="table-head-cell">{% trans "Status" %}</th>
                    <th class="table-head-cell">{% trans "Content" %}</th>
                    <th class="table-head-cell">{% trans "Template" %}</th>
                </tr>
                {% for page in object_list %}
                <tr 
                    onClick="window.location = '{% url 'cms-admin:page_detail' page.id %}'"
                    class="table-row">
                    <td class="table-cell">{% if page.home %}
                            <span class="fa fa-home"></span>
                        {% endif %}
                    </td>
                    <td class="table-cell">
                        <a href="{% url 'cms-admin:page_detail' page.id %}">
                            {{page.display_title}}
                        </a>
                    </td>
                    <td class="table-cell">
                        <a href="{% url 'cms-admin:page_detail' page.id %}">
                            {{page.get_absolute_url}}
                        </a>
                    </td>
                    <td class="table-cell">
                    {% if page.hide_from_nav %}
                        <span class="fa fa-close"></span>
                    {% else %}
                        <span class="fa fa-check"></span>
                    {% endif %}
                    </td>
                    <td class="table-cell">
                    {% if page.status == 'APPROVAL_NEEDED' %}
                        <span class="label label--warning">
                            {{page.status_verbal}}
                        </span>
                    {% elif page.status == 'PUBLISHED' %}
                        <span class="label label--success">
                            {{page.status_verbal}}
                        </span>
                    {% else %}
                        <span class="label">
                            {% trans "Draft" %}
                        </span>
                    {% endif %}
                    </td>
                    <td class="table-cell">
                        {% if page.get_translations %}
                            {% for t in page.get_translations %}
                                <img 
                                    src="{% static "img/flags/" %}{{t.language_code}}.png"
                                    style="width:16px; position: relative; top:3px;"/>
                            {% endfor %}
                        {% else %}
                            <a href="{% url 'cms-admin:page_detail' page.id %}">
                                + {% trans "Add content" %}
                            </a>
                        {% endif %}
                    </td>
                    <td class="table-cell">
                        {{page.get_template}}
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
                <p>{% trans "No pages have been created yet." %}</p>
                <a href="{% url 'cms-admin:page_add' %}" class="btn btn--create">
                    <span class="fa fa-plus"></span> 
                    {% trans "Add the first page" %}
                </a>
            {% endif %}
        </div>
    </div>
</div>
{% if object_list %}
<div class="content__inner">
    {% if perms.cms.add_page %}
        <a href="{% url 'cms-admin:page_add' %}"
            class="btn btn--create">
            <span class="fa fa-plus"></span>
            {% trans "Add a page" %}
        </a>    
    {% endif %}
</div>
{% endif %}
{% endblock content %}