/**
 * Defines the extra form styles required for the administration.
 * 
 */

.form{
    &__label{
        &--inline{
            display: inline-block;
            padding: calc-em($vertical_padding);
            float: right;
        }
    }
    &__control{
        ul{
            margin: calc-em($vertical_padding) 0;
            padding: 0;
            list-style: none;
        }
    }
}

fieldset{
    legend{
        font-size: $font-size--large;
        border-bottom: 1px solid $grey--light;
        padding-top: calc-em($vertical_padding / 2);
        padding-bottom: calc-em($vertical_padding);
        margin-bottom: calc-em($vertical_padding);
        width: 100%;
        float: left;
        display: block;
    }
}