/**
 * Defines the layout of the application menu.
 * On desktop and tablet, it's fixed to the left.
 * On mobile, it's toggled and overlays.
 */

$menu_color: #555;

.menu {
    @include position(fixed, 0 null null 0);
    height: 100%;
    min-height: 320px;
    background-color: $menu_color;
    border-right: 1px solid darken($menu_color, 3%);
    z-index: 2;

    &__item{
        display: block;
        padding: calc-em($vertical_padding) $horizontal_padding;
        color: #fff;

        @include transition(background-color 0.2s ease-in-out);

        &:hover{
            color: #fff;
            background-color: lighten($menu_color, 3%);
            cursor: pointer;
        }
    }

    &--collapse{
        
        width: 60px;
        overflow: visible;

        .menu__item{
            height: 60px;
            padding-left: calc-em($horizontal_padding);
            padding-right: calc-em($horizontal_padding);
            padding-top: 22px;
            text-align: center;
            position: relative;
            &:hover{
                background-color: lighten($menu_color, 5%);
                .menu-item__icon{
                    color: #fff;
                }
                .menu-item__text{
                    display: block;

                    position: absolute;
                    left: 65px;
                    top:50%;
                    margin-top: - $base-line-height / 2 - calc-em($vertical_padding / 2);
                    
                    @include tooltip();
                    &:after{
                        content: '';
                        @include triangle(10px, rgba(0,0,0,0.75), left);
                        position: absolute;
                        left: -5px;
                        top: 50%;
                        margin-top: -5px;
                    }
                    
                }

            }
            &.menu-item--sign-out{
                position: absolute;
            }
        }
        .menu-item__text{
            display: none;
        }
        .menu-item__icon{
            font-size: calc-em($font_size--large);
            width: auto;
        }

        .menu__section-header{
            display: none;
        }
        .menu-item--header{
            display: none;
        }
    }

    &--close{
        display: none;
    }

    &--open{
        width: 240px;
    }

    &__section-header{
        font-size: $font_size--small;
        text-transform: uppercase;
        color: tint($menu_color, 60%);

        padding: calc-em($vertical_padding) $horizontal_padding calc-em($vertical_padding / 2) $horizontal_padding;
        border-top: 1px solid darken($menu_color, 3%);
    }
}

.menu-item{
    &__text{
        
    }
    &__icon{
        display: inline-block;
        width:18px;
        text-align: center;
        font-size: calc-em($font-size * 1.1);
    }
    &--sign-out{
        position: absolute;
        bottom: 0;
        width: 100%;
        border-top: 1px solid darken($menu_color, 3%);
    }
    &--header{
        height: 59px;
        line-height: 59px;
        padding-top: 0;
        padding-bottom: 0;
        font-size: $font_size--large;
        font-family: $font_family--heading;
    }
}